---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
/// Podcasts platforms links
const links = [
  // { name: "LinkedIn", href: "#_" },
  // { name: "Overcast", href: "#_" },
  // { name: "Youtube", href: "#_" },
];
---

<Wrapper
  variant="standard"
  class="pb-24 max-w-none lg:max-w-6xl xl:max-w-7xl mx-auto"
>
  <div
    class="flex items-left justify-between text-gray-medium text-base-medium"
  >
    <div class="flex flex-col gap-2">
      <Text
        tag="p"
        variant="textBase"
        class="font-serif italic uppercase text-xl"
      >
        Huang Wei
      </Text>
      <Text tag="p" variant="textBase" class="font-serif italic text-xl">
        veroniquehuangwei@gail.com
      </Text>
      <Text tag="p" variant="textSm" class="font-serif text-base">
        Senior Architect
      </Text>
    </div>
    <div class="flex gap-4 items-center">
      {
        links.map((link) => (
          <Text
            tag="a"
            href={link.href}
            variant="textBase"
            class="font-serif italic"
          >
            {link.name}
          </Text>
        ))
      }
    </div>
  </div>
</Wrapper>
