@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@layer components {
  .prose-styles {
    /* List text color for light theme */
    @apply prose-ul:text-neutral-500 dark:prose-ul:text-neutral-200;
    /* Base layout classes */
    @apply prose max-w-3xl pt-0 mx-auto;
    /* Styles for links */
    @apply prose-a:text-black dark:prose-a:text-white;
    /* Paragraph text color for light and dark themes */
    @apply prose-p:text-neutral-500 dark:prose-p:text-neutral-300;
    /* Inline code text color for light and dark themes */
    @apply prose-code:text-black;
    /* Bold text color for light and dark themes */
    @apply prose-strong:text-black dark:prose-strong:text-white;
    /* Ordered list text color for light and dark themes */
    @apply prose-ol:text-neutral-500 prose-ul:text-neutral-500 prose-li:text-neutral-500;
    /* Headings text color and font styling for light and dark themes */
    @apply prose-headings:text-black dark:prose-headings:text-white  prose-headings:text-base text-xs;
  }
}

@theme {
  /* Typography */
  --font-serif: Instrument Serif, serif;
  --font-sans: Inter, sans-serif;
  /* Colors */
  --color-base-light:#eeede8; 
  --color-base-medium:#f7f7f5;
}

/* CSS */
:root {
 /* Typography stylistic sets for Inter */
  font-feature-settings: "tnum" 1, "zero" 1, "cv01" 1, "cv09" 1, "cv02" 1, "cv03" 1, "cv04" 1, "ss08" 1, "dlig" 1, "cv06" 1, "cv10" 1, "cv13" 1;
  --font-serif: 'Instrument Serif', serif;
  --font-sans: 'Inter', sans-serif;
  --color-base-light: #eeede8;
  --color-base-medium: #f7f7f5;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
